@model FlappyBlog.Mvc.Html.Bootstrap.Btn.Button[]
<div class="toolbar-grid clearfix">
    <div class="row">
        <div class="col-md-8">
            <div class="pull-left">
                @foreach (var btn in Model)
                {
                    @btn.Render()
                }
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" class="form-control" />
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">搜索</button>
                </span>
            </div>
        </div>
    </div>
</div>