@{
    Layout = "~/Areas/Admin/Views/Shared/AccountBase.cshtml";
    ViewBag.Title = "后台登录";
}
<div class="account-header clearfix">
    <a href="#" class="pull-left logo" target="_blank">
        <img alt="BlogEngine.NET" src="@Url.Content("~/static/img/logo.png")" />
    </a>
</div>
<div id="StatusBox">
    <div id="AdminStatus" class="warning" style="display: none">
    </div>
</div>
<div class="account well">
    <div class="page-header clearfix">
        <h3>
            <span id="lblTitle">登录</span></h3>
    </div>
    <div>
        @using (Html.BeginForm())
        {
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <input id="userName" name="userName" type="text" class="form-control input-lg ltr-dir"
                    placeholder="username" />
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                <input id="password" name="password" type="password" class="form-control input-lg ltr-dir" placeholder="password" />
            </div>
            <br />
            <div class="form-group">
                <label for="rememberMe" class="inline">保持我的登录状态</label>
                <input id="rememberMe" name="rememberMe" type="checkbox" data-size="mini"/>
            </div>
            <div class="text-center">
                <input type="submit" name="LoginButton" value="登录" onclick="return ValidateLogin();" class="btn btn-primary btn-block btn-lg" />
                <a class="btn btn-info btn-block btn-lg">返回博客</a>
                <hr />
                @Html.ActionLink("忘记密码了?", "Password", null, new { @class = "text-muted" })
            </div>
        }
    </div>
</div>