@using FlappyBlog.Mvc.Html
@model FlappyBlog.Mvc.Areas.Admin.Models.TagEditModel

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">编辑</h4>
            </div>
            <div class="modal-body">
                @{
                    var ajax = new AjaxOptions { OnSuccess = "onSuccess", OnFailure = "onFailure" };
                }
                @using (Ajax.BeginForm("Create", null, ajax, new { @class = "form-horizontal", role = "form", id="tagEditForm" }))
                {
                  @*<div class="form-group">
                        <label for="tagName" class="col-sm-2 control-label">标签名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="tagName" placeholder="标签名称" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tagDescription" class="col-sm-2 control-label">标签描述</label>
                        <div class="col-sm-10">
                            <textarea rows="10" cols="10" class="form-control" id="tagDescription" placeholder="标签描述"></textarea>
                        </div>
                    </div>*@
                    <div class="form-group">
                        @Html.FormLabelFor(model => model.Name)
                        <div class="col-sm-10">
                            @Html.FormTextBoxFor(model => model.Name)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.FormLabelFor(model => model.Description)
                        <div class="col-sm-10">
                            @Html.FormTextAreaFor(model => model.Description,new { rows = 10, cols = 10 })
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button class="btn-default btn" data-dismiss="modal">关闭</button>
                <button class="btn-primary btn" id="saveTag">保存</button>
            </div>
        </div>
    </div>
</div>