@{
    Layout = "~/Areas/Admin/Views/Shared/AccountBase.cshtml";
    ViewBag.Title = "取回密码";
}
<div class="account-header clearfix">
    <a href="#" class="pull-left logo" target="_blank">
        <img alt="BlogEngine.NET" src="@Url.Content("~/static/img/logo.png")" />
    </a>
</div>
<div id="StatusBox">
    <div id="AdminStatus" class="alert alert-danger" style="display: none">
    </div>
</div>
<div class="account well">
    <div class="page-header clearfix">
        <h3>找回密码</h3>
    </div>
    <p>
        输入您的 Email 地址, 您将立刻收到找回密码的邮件.</p>
    <br />
    <div>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
            <input id="txtEmail" name="txtEmail" type="text" class="form-control input-lg ltr-dir" placeholder="Email"/>
        </div>
        <br/>
        <div class="text-right">
            @Html.ActionLink("取消", "Login", null, new { @class = "btn btn-default" })
            <input type="submit" name="loginButton" value="发送" onclick="return ValidatePasswordRetrieval();"
                id="loginButton" class="btn btn-primary" />
        </div>
    </div>
</div>