@using FlappyBlog.Domain.Models
@using FlappyBlog.Infrastructure.Paged
@using FlappyBlog.Mvc.Areas.Admin.Models
@using FlappyBlog.Mvc.Html
@model PagedList<Tag>
@{
    ViewBag.Title = "标签管理";
    Layout = "~/Areas/Admin/Views/Shared/AdminBase.cshtml";
}
<div id="messager" class="alert alert-danger" style="display: none;">
    <button id="messagerClose" type="button" class="close">&times;</button>
    <strong id="messagerTitle">Warning!</strong>
    <span id="messagerContent">check yo self, you're not looking too good.</span>
</div>

@Html.Partial("ToolBarAdd")

<div id="listTable" class="table-responsive">
    @Html.Action("List", Request.QueryString.ToRouteValues())
</div>

@Html.Partial("Modal",new TagEditModel())

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("#saveTag").click(function () {
                $("#tagEditForm").submit();
            });
        });
        function onSuccess(data) {
            console.log("onSuccess");
            console.log(data);                      
            var listUrl = '@Url.Action("List")';
            $('.modal').modal('hide');                            
            $.get(listUrl, function (html) {
                console.log(html);
                var $listTable = $("#listTable");
                $listTable.hide("fast");
                $listTable.html(html);
                $listTable.show("normal");
                msg.showSuccess(data.title, data.content);
                $("#tagEditForm")[0].reset();
            });
        }

        function onFailure(data) {
            console.log("onFailure");
            console.log(data);            
        }

        function getQueries() {
            var queries = {};
            $.each(document.location.search.substr(1).split('&'), function (c, q) {
                var i = q.split('=');
                queries[i[0].toString()] = i[1].toString();
            });
            return queries;
        }
    </script>
}