html, body, .container
{
    height: 100%;
}
#header
{
    margin-bottom: 5px;
    height: 90px;
    background: #39b3d7;
    -ms-border-radius: 4px;
    border-radius: 4px;
}
.logo
{
    width: 190px;
    height: 62px;
    padding: 10px 0 0 0;
    left: 20px;
}
#warp
{
    height: 100%;
    min-height: 100%;
    margin-top: -95px;
    padding-top: 95px;
}
#leftmenu
{
    background-color: #d9edf7;
    -ms-border-radius: 4px;
    border-radius: 4px;
    height: 100%;
    min-height: 100%;
}
#leftmenu .menu
{
    margin-bottom: 5px;
}
#leftmenu .menu div
{
    padding: 0;
}
#leftmenu .menu button
{
    font-size: 16px;
    font-weight: bold;
}
#leftmenu .menu button span
{
    margin-left: 10px;
}
#content
{
    height: 100%;
    min-height: 100%;
    padding: 0 0 0 5px;
}
#headerInfo
{
    font-size: 1.2em;
    margin: 0 0 5px 0;
    padding: 5px 0 5px 10px;
}
.toolbar-grid
{
    margin-bottom: 5px;
}

.table thead tr th
{
    border-color: #DDD;
    border-top: 1px solid #DDD !important;
    background-color: #EEE;
    border-bottom-width: 1px;
}
.pagination-wapper
{
    margin-top: -15px;
}
.pagination
{
    margin: 0;
}
